menu "vision component configuration"
config VISION_ENABLE
    bool "Enable vision component"
    default y
    select AX620E_MSP_ENABLE_NPU_LIB    if PLATFORM = "maixcam2"
    select AX620E_MSP_ENABLE_SENSOR_LIB if PLATFORM = "maixcam2"
    help
      To use this component, you must enable it here.
endmenu
